version: "3"

services:
  sort_viz:
    build:
      context: ..
      dockerfile: Dockerfile
      network: host

    volumes:
      # This is where VS Code should expect to find your project's source code and the value of "workspaceFolder" in .devcontainer/devcontainer.json
      - ..:/home/geba/app:cached

    # Overrides default command so things don't shut down after the process ends.
    command: /bin/bash -c "while sleep 1000; do :; done"
